# Concept of Machine Learning and Assignments
## Applied Statistics

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('stats.xls', sheet_name=0)

### Ex 1.

In [6]:
df.mean()[1:]

YearsOfExp           6.2
Salary in Rs.    77821.2
dtype: float64

In [8]:
df.median()[1:]

YearsOfExp           7.0
Salary in Rs.    87654.0
dtype: float64

In [28]:
df.mode()['YearsOfExp'][0],df.mode()['Salary in Rs.'][0]

(10.0, 100639.0)

### Ex 2.

In [10]:
df.std()[1:]

YearsOfExp           3.175426
Salary in Rs.    39847.615281
dtype: float64

In [20]:
df.var()[1:]

YearsOfExp       1.008333e+01
Salary in Rs.    1.587832e+09
dtype: float64